*.iml
.gradle
local.properties

build
captures
.externalNativeBuild
inspectionProfiles
.idea/*
## IntelliJ IDEA ##
/.idea
*.iws
*.iml
*.ipr

## JRebel ##
rebel.xml

## MAC ##
.DS_Store

## Other ##
logs/
temp/
